Question 1

In [85]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

When the last a is executed, we get the value 6.

Steps:

1.A module is imported, which defines a global variable, 'a', and two functions, 'b' and 'c'.The value of a is intialized to 0.

2.Inside b() ,global 'a' is modified.By calling c(a), 'a' is updated. C(a) function returns 'a+2'.

3.When b() is executed for the first time, it will modify the global variable 'a',(a=0) , so, c(a) will return a+2 = 2.So, first   b(a) will give the value ,a=2.

4.When b() is executed for the second time, it will again modify the global variable 'a',(now, a=2) , so, c(a) will return a+2     =2+2=4. So, first   b(a) will give the value ,a=4.

5.When b() is executed for the third time, it will again modify the global variable 'a',(now, a=4) , so, c(a) will return a+2     =4+2=6. So, first   b(a) will give the value ,a=6.

6.So, when is evaluated, after the three calls of funtion b(), a will give value 6.

Question 2

In [86]:
def file_length(Filelength):
    try:
        with open(Filelength, 'r') as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"File {Filelength} not found.")


file_length('Filelength')
file_length('ilelength')

File Filelength not found.
File ilelength not found.

Question 3

In [96]:
class Marsupial:
    def __init__(self): #Defines constructor method for marsupial
        self.pouch = [] #Initialize an empty list

    def put_in_pouch(self, item): # Defines a method to add items
        self.pouch.append(item)

    def pouch_contents(self): #Defines a method pouch_contents to retrieve contents
        return self.pouch
    

m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print("Marsupial contents:")
print(m.pouch_contents())
print()


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the constructor of the parent class "Marsupial'"
       
        # Initialize attributes for position of kangaroo
        self.x = x 
        self.y = y

    def jump(self, dx, dy): #Define jump method to move kangaroos position
        self.x += dx
        self.y += dy

    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'


k = Kangaroo(0, 0)
print("Kangaroo initial location:")
print(k)
print()

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

print("Kangaroo contents:")
print(k.pouch_contents())
print()

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

print("Kangaroo location after movement:")
print(k)

Marsupial contents:
['doll', 'firetruck', 'kitten']

Kangaroo initial location:
I am a Kangaroo located at coordinates (0,0)

Kangaroo contents:
['doll', 'firetruck', 'kitten']

Kangaroo location after movement:
I am a Kangaroo located at coordinates (3,0)

Question 4

In [103]:
def collatz(x): #Define function collatz
    print(x)
    if x == 1: # for x=1, return 1
        return
    elif x % 2 == 0: # for even numbers, return value of x/2
        collatz(x // 2)
    else:
        collatz(3 * x + 1) # for odd numbers , return value of 3x+1

print("for x = 1:")
collatz(1)
print()

print("for x = 10:")
collatz(10)

for x = 1:
1

for x = 10:
10
5
16
8
4
2
1

Question 5

In [48]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)  # Recursive call to print the binary representation of n // 2
        print(n % 2, end='')

print("binary value of 0 is:")
binary(0)  
print()

print("binary value of 1 is:")
binary(1)
print()

print("binary value of 3 is:")
binary(3) 
print()

print("binary value of 9 is:")
binary(9) 
print()

binary value of 0 is:
0
binary value of 1 is:
1
binary value of 3 is:
11
binary value of 9 is:
1001

Question 8

In [83]:
import sqlite3


conn = sqlite3.connect('Weatherdata.db')# Create a SQLite database: Weatherdata.db
cursor = conn.cursor()

cursor.execute('DROP TABLE IF EXISTS weather_data') # Drop table if it already exists

cursor.execute('''CREATE TABLE weather_data
                (City TEXT,
                Country TEXT, 
                Season TEXT,
                Temperature FLOAT, 
                Rainfall FLOAT)''') # Create the table


table = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany("INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)", table)


# a) All the temperature data.
cursor.execute("SELECT Temperature FROM weather_data")
table1 = cursor.fetchall()
print("a) All the temperature data:")
print(table1)
print()

# b) All the cities, but without repetition.
cursor.execute("SELECT DISTINCT City FROM weather_data")
table2 = cursor.fetchall()
print("b) All the cities, but without repetition:")
print(table2)
print()

# c) All the records for India.
cursor.execute("SELECT * FROM weather_data WHERE Country = 'India'")
table3 = cursor.fetchall()
print("c) All the records for India:")
print(table3)
print()

# d) All the Fall records.
cursor.execute("SELECT * FROM weather_data WHERE Season = 'Fall'")
table4 = cursor.fetchall()
print("d) All the Fall records:")
print(table4)
print()

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute("SELECT City, Country, Season FROM weather_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
table5 = cursor.fetchall()
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
print(table5)
print()

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute("SELECT City, Country FROM weather_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
table6 = cursor.fetchall()
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
print(table6)
print()

# g) The total annual rainfall for Cairo.
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM weather_data WHERE City = 'Cairo'")
table7 = cursor.fetchall()
print("g) The total annual rainfall for Cairo:")
print(table7)
print()

# h) The total rainfall for each season.
cursor.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM weather_data GROUP BY Season")
table8 = cursor.fetchall()
print("h) The total rainfall for each season:")
print(table8)


conn.commit() # Commit the changes 
conn.close() # close the connection

a) All the temperature data:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition:
[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo:
[(27.6,)]

h) The total rainfall for each season:
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9

In [63]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("a) Each letter of words in uppercase:")
list1 = [word.upper() for word in words]  #converts a string to uppercase
print(list1)
print()

print("b) Each letter of words in lowercase:")
list2= [word.lower() for word in words] #converts a string to lowercase
print(list2)
print()

print("c) The list of lengths of words in list words ")
list3 = [len(word) for word in words] # Gives length of each word
print(list3)
print()

print("d) list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word:  ")
list4 = [[word.upper(), word.lower(), len(word)] for word in words] 
print(list4)
print()

print("e) the list of words in list words containing 4 or more characters ")
list5 = [word for word in words if len(word) >= 4] # Words with length >4
print(list5)

a) Each letter of words in uppercase:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) Each letter of words in lowercase:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) The list of lengths of words in list words
[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) the list of words in list words containing 4 or more characters
['quick', 'brown', 'jumps', 'over', 'lazy']